.input-group[b-66q4wy8fes], .form-control[b-66q4wy8fes]{
    height: 3.3125rem;
    flex-shrink: 0;
    border: none;
    background-color: #e3e3e3;
    
}
.container-md[b-66q4wy8fes]{
    max-width: 43rem;
    margin: 0 auto;
}

.input-group[b-66q4wy8fes]{
    border-radius: 4px;
}

.input-group-btn[b-66q4wy8fes]{
    display: flex;
    justify-content: center;
}

.search-icon[b-66q4wy8fes]{
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.btn-sign-in[b-66q4wy8fes]{
    height: 3.3125rem;
}