
.input-group, .form-control{
    height: 3.3125rem;
    flex-shrink: 0;
    border: none;
    background-color: #e3e3e3;
    
}
.btn{
    height: 3.3125rem;
}

.main-content{
    padding-left: 6rem;
    padding-right: 6rem;
}

.custom-container{
    width: 1000px;
}