@page "/Account"
@inject Context dbContext
@using Microsoft.EntityFrameworkCore;
@inject NavigationManager navigationManager
@inject AuthenticationService authService
@code {
    private bool selectAccount = false;
    private List<Account>? Accounts;
    private Account? selectedAccount;
    public string TxtType = "password";

    protected override void OnInitialized()
    {
        // Only allows user logged in as manager to view page
        var currentUser = authService.GetLoggedInUser();

        if (currentUser == null || currentUser.AccountID != 1)
        {
            navigationManager.NavigateTo("/Forbidden");
            return;
        }

        LoadAccounts();
    }

    private void LoadAccounts()
    {
        Accounts = dbContext.Accounts.ToList();
    }

    private void SelectAccount(Account account)
    {
        selectedAccount = dbContext.Accounts
        .FirstOrDefault(s => s.AccountID == account.AccountID);
        selectAccount = true;
    }
    private void ShowPassword()
    {
        if (this.TxtType == "password")
        {
            this.TxtType = "text";
        }
        else
        {
            this.TxtType = "password";
        }
    }

    private void NavigateToPasswordReset()
    {
        if (selectedAccount != null)
        {
            navigationManager.NavigateTo($"/Account/Recovery/{selectedAccount.AccountID}");
        }
    }
}
<div class="main-content content container custom-container pt-5">
    <div class="account-cards main-content px-5">
        @if (!selectAccount && Accounts != null)
        {

            @foreach (var account in Accounts)
            {
                <AccountCard Account="account" OnSelectAccount="() => SelectAccount(account)" />
            }
        }
    </div>

    @if (selectAccount)
    {
        <div>

            <div class="row pb-3 ">
                <div class="col-md-6">
                    <label for="AccountID">Account ID</label>
                    <input type="text" readonly class="form-control shadow-none border-0" id="AccountID" 
                        value="@selectedAccount.AccountID" />
                </div>
                <div class="col-md-6">
                    <label>Role</label>
                    <input type="text" readonly class="shadow-none form-control border-0" value="@selectedAccount.UserName" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label></label>
                    <button class="btn btn-primary w-100" @onclick="NavigateToPasswordReset">Change Password</button>
                </div>
            </div>
        </div>
    }
</div>
