/* Styling for input groups and form controls */
.input-group, .form-control {
    height: 3.3125rem; /* Set the height of input groups and form controls */
    flex-shrink: 0; /* Ensure they do not shrink beyond the specified height */
    border: none; /* Remove borders */
    background-color: #e3e3e3; /* Set background color */
}

/* Styling for buttons */
.btn {
    height: 3.3125rem; /* Set the height of buttons */
}

/* Custom container styling */
.custom-container {
    width: 600px; /* Set the width of the custom container */
}

/* Card styling */
.card {
    border: none; /* Remove borders from cards */
    padding-left: 20px; /* Add left padding to cards */
    padding-right: 20px; /* Add right padding to cards */
}
