@page "/Account"
@inject Context dbContext
@using Microsoft.EntityFrameworkCore;
@using Sign_Me_In.Pages

@code {
    private bool selectAccount = false;
    private List<Account> Accounts;

    protected override void OnInitialized()
    {
        LoadAccounts();
    }

    private void LoadAccounts()
    {
        Accounts = dbContext.Accounts.ToList();
    }
}
@* <div class="content">
    @foreach (var account in Accounts)
    {
        <AccountCard account="account" />
    }
</div> 
