.custom-container {
    width: 500px; 
}

.btn-block {
    height: 3.3125rem; 
    width: 100%; 
}

/* Styling for input groups */
.input-group {
    display: flex; /* Use flexbox layout for the input group */
    align-items: center; /* Center-align items in the input group */
    border: 2px solid #6e6e6e; /* Set border color for the input group */
    border-top: none; /* Remove top border */
    border-left: none; /* Remove left border */
    border-right: none; /* Remove right border */
    position: relative; /* Set position to relative */
}

/* Styling for fields */
.input-group .form-control {
    height: 3.3125rem; 
    flex: 1;
    border: none;
}

.card {
    border: none; 
    padding-left: 20px; 
    padding-right: 20px; 
}
