@page "/Account/ChangePassword"
@inject Context dbContext
@inject NavigationManager navigationManager
@using Microsoft.EntityFrameworkCore

@code
{
    private List<SecurityQuestion> ? SecurityQuestions;

    private void getSecurityQuestions()
    {
        SecurityQuestions = dbContext.SecurityQuestions.ToList();
    }

    private void GoBackToAccounts()
    {
        navigationManager.NavigateTo("/Account");
    }



    
// Replace Placeholder with SecurityQuestions[i] where i is the question number!
}


<div class="content p-5">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
                <div>
                    <h4 type="text">Question 1</h4>
                </div>
                <div>
                    <h5 type="text">Placeholder :)</h5>
                </div>
                <div>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-5">
                <div>
                    <h4 type="text">Question 2</h4>
                </div>
                <div>
                    <h5 type="text">Placeholder :)</h5>
                </div>
                <div>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <div>
                    <h4 class=" text-" type="text">Question 3</h4>
                </div>
                <div>
                    <h5 type="text">Placeholder :)</h5>
                </div>
                <div>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 d-flex justify-content-between">
            <button class="btn btn-primary" @onclick="GoBackToAccounts">Go Back</button>
            <button class="btn btn-primary">Reset Password</button>
        </div>
    </div>
</div>
