@page "/Account/ChangePassword"
@inject Context dbContext
@using Microsoft.EntityFrameworkCore

@code
{
    private List<SecurityQuestion> ? SecurityQuestions;

    private void getSecurityQuestions()
    {
        SecurityQuestions = dbContext.SecurityQuestions.ToList();
    }
}

<div class="content p-5">
    <div class="row">
        <div class="col-md-4">
            <div class="mb-3">
                <div>
                    <h4 type="text">Question 1</h4>
                </div>
                <div>
                    <h5 type="text">Placeholder :)</h5>
                </div>
                <div>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-5">
                <div>
                    <h4 type="text">Question 2</h4>
                </div>
                <div>
                    <h5 type="text">Placeholder :)</h5>
                </div>
                <div>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="mb-3">
                <div>
                    <h4 class=" text-" type="text">Question 3</h4>
                </div>
                <div>
                    <h5 type="text">Placeholder :)</h5>
                </div>
                <div>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-end">

            <button class="btn btn-primary" href="Account">Go Back</button>

            <button class="btn btn-primary">Reset now</button>
        </div>
    </div>
</div>
