@page "/Employee/DeleteEmployee/"
@inject Context dbContext
@inject IJSRuntime JSRuntime

<div class="container-md d-flex justify-content-center align-items-center">
    <div class="card shadow-lg col-md-7">
        @if (Employees != null && Employees.Any())
        {
            @foreach (var employee in Employees)
            {
                <DeleteEmployeeCard Employee="@employee" OnDeleteEmployee="HandleDeleteEmployee" />
            }
        }
        else
        {
            <p>No employees found.</p>
        }
        <div class="mb-3"></div>
    </div>
</div>

@code {
    private List<HubEmployee>? Employees;
    private bool isDeleting = false;
    protected override void OnInitialized()
    {
        ListEmployees();
    }

    private void ListEmployees()
    {
        Employees = dbContext.HubEmployees.ToList();
    }

    private async Task HandleDeleteEmployee(HubEmployee employee)
    {
        if (employee != null)
        {
            var confirmed = await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete {employee.FirstName} {employee.LastName}?");
            
            if (confirmed)
            {
                isDeleting = true;
                StateHasChanged(); // Trigger a re-render to show the loading spinner

                dbContext.HubEmployees.Remove(employee);

                try
                {
                    await dbContext.SaveChangesAsync();
                    ListEmployees(); // Refresh the list after deletion
                }
                catch (Exception ex)
                {
                    
                }

                isDeleting = false;
                StateHasChanged(); // Remove the loading spinner
            }
        }
    }
}