.table-header{
    background-color: #0078C9;
    color: white;
    font-weight: bolder;
    outline: white 2px;
}

.input-group, .form-control{
    height: 3.85rem;
    flex-shrink: 0;
    border: none;
    background-color: #e3e3e3;
    
}

.input-group{
    border-radius: 4px;
}

.input-group-btn{
    display: flex;
    justify-content: center;
}

.search-icon{
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
}