/* Styling for input group and form control */

/* Input group style */
.input-group {
    display: flex;
    align-items: center;
    border: 2px solid #6e6e6e;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
    border-radius: 0px;
}

/* Border radius for input group */
.input-group {
    border-radius: 4px;
}

/* Styling for input group button */
.input-group-btn {
    display: flex;
    justify-content: center;
    z-index: 1;
}

/* Styling for search icon */
.search-icon {
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
}

/* Styling for form control */
.form-control {
    height: 3.3125rem;
}

/* Styling for card */
.card {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    width: 800px;
}

/* Styling for button block */
.btn-block {
    height: 3.3125rem;
}

/* Responsive styling for images */
.image {
    max-height: 100px;
    align-items: center;
}
