.custom-container {
    width: 80%; 
    max-width: 470px; 
    margin: 0 auto; 

    @media (max-width: 768px) {
        width: 90%; 
    }

    @media (max-width: 576px) {
        width: 95%; 
    }
}

.background {
    background-image: url('fdtc-background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: white; /* Background overlay color */
    border-radius: 4px;
    padding: 20px;
    width: 21.8125rem;
    height: 17.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    width: 340px;
    height: 17.8125rem;
    text-align: center;
}

.row-flex {
    display: flex;
    justify-content: space-between; /* Adjust as needed */
    align-items: center; /* Align items vertically */
    margin-top: 20px; /* Adjust margin as needed */
}

.flex-item {
    flex: 1; /* Equal width for both items */
    margin-right: 10px; /* Adjust spacing between items */
}