
.background {
    background-image: url('fdtc-background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: white; 
    border-radius: 4px;
    padding: 20px;
    height: 17.8125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
}

.login-logo {
    width: 200px;
    margin-bottom: 20px;
}

.form-group {
    margin: 10px 0;
}

.form-control {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}

.alert{
    padding: 0px;
}
