@page "/Forbidden"
@layout LoginLayout

<PageTitle>Forbidden</PageTitle>

<div class="background">
    <div class="col-xxl-3 small">
        <div class="login-box text-center md">
            <div class="row">
                <div class="error-container text-center">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="mt-3">403 Forbidden</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger mt-2 pt-2" >
                                <strong>Error:</strong> 
                                <p>You do not have permission to access this page.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 text-start">
                            <p class="">Please login to the correct account to view this page</p>
                        </div>
                        <div class="col-md-3 text-end">
                            <a href="/" class="btn btn-primary mt-2">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>