@page "/HomePage"

<PageTitle>Home Page 😀</PageTitle>
<div class="container text-center main-color">
    <h1 class="pb-3 fw-bold border-4 border-bottom main-color ">MATH HUB</h1>
    <div class="text-start pb-4">
        <p>At FDTC, prerequisite math courses are offered to students in a blended format. This is not the traditional lecture math course that most students have always experienced. Instead, students follow a schedule of requirements and work individually on a computer in order to actively learn mathematics. Each student has the opportunity to watch videos, look at sample problems, work on math problems, and receive immediate feedback. This is all done on the computer along with taking tests.</p>

        <p>In these classes, the student attends scheduled lectures and computer labs with an instructor each week. Free tutoring assistance is available for each student in the Tutoring Room. Many students find that by taking advantage of the free tutoring they are able to work through the material faster than expected, therefore successfully completing the course early. When a course is successfully completed early, students are given the opportunity to accelerate to the next course during the same semester.</p>
    </div> 

    <div class="row justify-content-center ">
        <div class="col-md-4 justify-content-center"> 
            <h4 class="main-color text-start"><strong>Hub Hours and Location</strong></h4>
            <p class="text-start">
                Monday - Tuesday: 9:30am - 5:30pm <br />
                Wednesday - Thursday: 9:30am - 8:30pm <br />
                Friday: 8:30am - 11:30am <br />
                Saturday: Closed <br />
                Sunday: 4:30pm - 8:30pm <br />
            </p>
        </div>
        <div class="col-md-4 text-start "> 

            <h4 class="main-color"><strong>Location</strong></h4>
            <p>The Math Hub is located on the first floor of the 7000 building, Main Campus.</p>
            <p>Tutoring: Room 7106 <br />
            Testing: Room 7107</p>
        </div>
        <div class="col-md-4 text-start pb-4"> 

            <h4 class="main-color"><strong>Telephone Number</strong></h4>
            <p>Tutoring Room - 843-661-81534<br />
                Testing Room - 843-661-8063</p>
        </div>
    </div>
    <p class="pt-2"><strong>Note</strong>: Any student who plans to take a test must report at least one hour prior to closing time in order to be allowed to take the test.</p>
</div>
