@page "/login"

<div class="background">
    <div class="login-container">
        <div class="login-box text-center">
            <div class="logo d-flex justify-content-lg-start">
                <img src="FDTC-LOGO2.png" alt="Logo" class="login-logo mb-4 align-content-end" />
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="form-group w-100">
                    <input type="text" class="form-control shadow-none" placeholder="Username" />
                </div>
                <div class="form-group w-100 pb-3">
                    <input type="password" class="form-control shadow-none" placeholder="Password" />
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </div>
</div>