.table-header{
    background-color: #0078C9;
    color: white;
    font-weight: bolder;
    outline: white 2px;
}

.btn-block{
    height: 3.3125rem;
}

.card {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}