@page "/Dashboard/Reports"
@layout DashboardLayout

<div class="row">
    <div class="col-md-5 d-flex justify-content-center flex-column align-content-center">
        <label for="startDate">From:</label>
 
        <input type="date" id="startDate" name="startDate" class="form-control w-75">
    </div>
    <div class="col-md-5 d-flex justify-content-center flex-column align-content-center">
        <label for="endDate">To:</label>
      
        <input type="date" id="endDate" name="endDate" class="form-control w-75">
    </div>
</div>
