/* Styling for form controls */
.form-control {
    height: 3.3125rem;
    width: 100%;
}

/* Container dimensions */
.custom-container {
    width: 500px;
}

/* Styling for button blocks */
.btn-block {
    width: 100%;
    height: 3.3125rem;
}

/* Custom margin for spacing */
.m-custom {
    margin-top: 50px;
}

/* Styling for cards */
.card {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

/* Styling for input groups */
.input-group {
    display: flex;
    align-items: center;
    border: 2px solid #6e6e6e;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
}

/* Styling for form controls within input groups */
.input-group .form-control {
    height: 3.3125rem;
    flex: 1;
    border: none;
    width: 100%;
}
