.form-control {
    height: 3.3125rem;
}

.custom-container{
    width: 500px;
}

.btn-block{
    width: 100%;
    height: 3.3125rem;

}

.m-custom{
    margin-top: 50px;
}

.card {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 2px solid #6e6e6e;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
}

.input-group .form-control {
    height: 3.3125rem;
    flex: 1;
    border: none;
}