@page "/Account/AccountRecovery/{AccountID}/ResetPassword"
@inject Context dbContext
@inject NavigationManager navigationManager
@using Microsoft.EntityFrameworkCore
@inject AuthenticationService authService

@code {
    [Parameter]
    public string AccountID { get; set; }

    protected override void OnInitialized()
    {
        // Only allows user logged in as manager to view page
        var currentUser = authService.GetLoggedInUser();

        if (currentUser == null || currentUser.AccountID != 1)
        {
            navigationManager.NavigateTo("/Forbidden");
            return;
        }
    }

    private void GoBackToAccounts()
    {
        navigationManager.NavigateTo("/Account");
    }
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <label class="text-center d-block">New Password</label>
            <input type="text" class="form-control mx-auto d-block">
        </div>
    </div>
    <div class="row justify-content-center pt-4">
        <div class="col-md-6">
            <label class="text-center d-block">Confirm Password</label>
            <input type="text" class="form-control mx-auto d-block">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12 d-flex justify-content-between">
            <button class="btn btn-primary" @onclick ="GoBackToAccounts">Go Back</button>
            <button class="btn btn-primary">Done</button>
        </div>
    </div>
</div>
