.form-control {
    height: 3.3125rem;
}

.input-group .form-control {
    height: 3.3125rem;
    flex: 1;
    border: none;
}

.container-md {
    max-width: 43rem;
}

.input-group {
    display: flex;
    align-items: center;
    border: 2px solid #6e6e6e;
    border-top: none;
    border-left: none;
    border-right: none;
    position: relative;
}

.input-group-btn {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.search-icon {
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
}

.container {
    width: 44rem;
}

.btn-sign-in {
    height: 3.3125rem;
}


/* Moves content up on action*/
.content-container {
    transition: transform 0.5s;
}

.content-move-up {
    transform: translateY(-240px);
}

/* Moves logo up on action*/
.logo-container {
    transition: transform 0.5s;
}

.logo-move-up {
    transform: translateY(-500px);
}

.image {
    max-height: 100px;
    align-items: center;
}

.card {
    border: none;
    padding-left: 20px;
    padding-right: 20px;
}

.read-only {
    background-color: #E3E3E3;
}

.select {
    background-color: white;
    border: none;
    padding: .375rem .75rem;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 10px;
    font-size: 1rem;
}
