
.input-group, .form-control{
    height: 3.3125rem;
    flex-shrink: 0;
    border: none;
    background-color: #e3e3e3;
    
}
.container-md{
    max-width: 43rem;

}

.input-group{
    border-radius: 4px;
}

.input-group-btn{
    display: flex;
    justify-content: center;
}

.search-icon{
    display: flex;
    justify-content: center;
    height: 24px;
    width: 24px;
}
.container{
    width: 44rem;
}
.btn-sign-on{
    height: 3.3125rem;
}


.content-container {
    transition: transform 0.5s;
}

.content-move-up {
    transform: translateY(-150px);
}

.logo-container {
    transition: transform 0.5s;
}

.logo-move-up {
    transform: translateY(-300px);
}
