@inherits LayoutComponentBase
<PageTitle>Dashboard</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <hr class="my-0" />
    </div>
    
    <div class="main-content d-flex">
            <div class="navbar navbar-light bg-white border-danger" style="width: 150px;">
            <DashboardNavMenu />
        </div>
        <div class="content col-10 px-4 pt-4">
            @Body
        </div>
    </div>
</div>
