@inherits LayoutComponentBase

<PageTitle>Sign-Me-In</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
        <hr class ="my-0">    
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>